.cards {
  display: flex;
  gap: 0.5em;
}
.favorite-card {
  width: 8.5rem;
  height: 9rem;
  display: grid;
  justify-items: center;
  align-content: center;
  border-radius: 20%;
  row-gap: 0.5em;
}
.favorite-card--fruits {
  background-color: #fff2f0;
  color: #4d0a00;
}
.favorite-card--vegetables {
  background-color: #eff7ee;
  color: #1c3418;
}
.favorite-card--snack {
  background-color: #fff8eb;
  color: #4d3200;
}
