.tabs-example {
  display: grid;
  gap: 1rem;
}
.tabs {
  background-color: var(--color-inactive);
  color: var(--color-secondary);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  overflow: hidden;
}
.tabs__tab {
  padding: 1em;
}
.tab__active {
  background-color: var(color-secondary);
}
.tab__inactive {
  background-color: var(color-inactive);
}
